include header

    h1  Bienvenue sur le site
    div
        h2  D&eacute;j&agrave; connu chez nous ?
        a.btn.btn-primary(href='/signin') Connexion
        a.btn.btn-primary(href='/newUser') Nouvel Utilisateur